body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}


h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.vehicles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vehicle {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.vehicle img {
    width: 100%;
    height: auto;
}

.book-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.login-container {
    background-image: url('https://static8.depositphotos.com/1176848/924/i/450/depositphotos_9240500-stock-photo-car-keys-and-remote.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 30%;
    top: 25%;
    right: 30%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 40%;
    width: 90%;
}

.login-container h2 {
    color: #28a745;
    margin-bottom: 20px;
    font-size: 24px;
}

.login-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.login-form label {
    font-size: 14px;
    color: #050505;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    border-color: #333;
    outline: none;
}

.submit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #218838;
}

.signup-link {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

.signup-link a {
    color: #28a745;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.signup-container {
    background-image: url('https://static8.depositphotos.com/1176848/924/i/450/depositphotos_9240500-stock-photo-car-keys-and-remote.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 22%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 40%;
    width: 90%;
}

.signup-container h2 {
    color: #28a745;
    margin-bottom: 20px;
    font-size: 24px;
}

.signup-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.signup-form label {
    font-size: 14px;
    color: #050505;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.signup-form input[type="text"]:focus,
.signup-form input[type="email"]:focus,
.signup-form input[type="password"]:focus {
    border-color: #333;
    outline: none;
}

.submit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #218838;
}

.login-link {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

.login-link a {
    color: #28a745;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}